/*Estilo del formulario*/
#formulariodiv {
    display: none;
}

.enviado {
    animation: zoomIn 0.5s ease-out;
    position: fixed;
    display: none;
    margin-left: -25%;
    margin-top: -96%;
    background-color: #5cabff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.TM {
    color: dodgerblue;
    text-decoration: underline;
}

.Noenviado {
    animation: zoomIn 0.5s ease-out;
    position: fixed;
    display: none;
    margin-left: -25%;
    margin-top: -96%;
    background-color: #f13939;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 1000;

}

.formulariodiv {
    background-color: #2c2c2c4d;
    padding-block: 100%;
    padding-inline: 100%;
    margin-left: -2%;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    z-index: 20;
}

select.genero {
    padding-block: 10px;
    padding-right: 70px;
}

select.genero:hover {
    border-color: #0099ffc2;
}


@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.contenidoform {
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    /* Corregí el valor de 'border' */
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 20px;
    /* Añade espacio alrededor del contenido si es necesario */
    padding-inline: 90px;
    border-radius: 3%;
    animation: zoomIn 0.5s ease-out;
    margin-top: -98%;
    margin-left: -67%;
    width: 40%;
    position: fixed;

}

.X { /*Boton para salir del formulario*/
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.X:hover {
    color: #f13939;
    cursor: pointer;
}


input[type="text"] {
    border: none;
    /* Elimina el borde */
    border-bottom: 3px solid black;
    /* Muestra solo la barra inferior */
    outline: none;
    /* Elimina el contorno al hacer clic en el input */
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

input[type="text"]:hover {
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 4px solid #0099ffc2;
    ;
}

input[type="email"] {
    border: none;
    /* Elimina el borde */
    border-bottom: 3px solid black;
    /* Muestra solo la barra inferior */
    outline: none;
    /* Elimina el contorno al hacer clic en el input */
    width: 100%;
    /* Ocupa todo el ancho disponible */
}

input[type="email"]:hover {
    border: none;
    width: 100%;
    outline: none;
    border-bottom: 4px solid #0099ffc2;
}

input[type="radio"] {
    margin-top: 10px;
}

p {
    font-size: medium;
}

button[type="submit"] { /*Boton para enviar el formulario*/
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    margin-top: 10px;
}


button[type="submit"]:hover {
    background-color: #0099ffc2;
    cursor: pointer;
    color: white;
}

button.cancelar { /*Boton para salir del formulario*/
    background-color: whitesmoke;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-color: black;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    margin-top: 10px;
}



button.cancelar:hover {
    background-color: #ff0000c2;
    cursor: pointer;
    color: white;
}


@media only screen and (max-width: 850px) {
    .contenidoform {
        animation: zoomIn 0.5s ease-out;
        margin-top: -90%;
        margin-left: -88%;
        width: 80%;
    }

}

@media only screen and (max-width: 650px) {
    .contenidoform {
        animation: zoomIn 0.5s ease-out;
        margin-top: -95%;
        margin-left: -95%;
        width: 90%;
    }
}