* {
  font-family: 'Segoe UI';
}

header {
  background-color: #4a7fd6;
  width: 100%;
  position: fixed;
  margin-top: -10px;
  padding-top: 10px;
  z-index: 2;
  height: auto;
}

.seccionesnav {
  display: flex;
}

nav {
  color: black;
  font-size: large;
  height: auto;
}

.secciones {
  display: flex;
}

.navprincipal {
  display: flex;
  /* no ocupa todo el ancho de la linea, solo ocupa hasta donde lleguen los elementos en la linea horizontal */
  text-align: center;
  justify-content: space-between;
  /* Centra verticalmente los elementos en la barra */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}



.nav-posicion {
  margin-right: 20%;
  position: relative;
  /* Necesario para el posicionamiento relativo */
}

@-moz-document url-prefix() {
  .nav-posicion {
    margin-left: 15%;
  }
}

.nav-posicion2 {
  margin-right: 8%;
  position: relative;
  height: auto;
  margin-top: 5%;
}

.nav-posicion3 {
  margin-left: -120%;
}

.margen-arriba {
  padding-bottom: 3%;
}

nav a {

  text-decoration: none;
  color: black;
}

header img {
  width: 70px;
  margin-left: 80%;

}

.imgheader2 {
  width: 65px;
}

/* Estilo de la barra de navegación */
nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}


nav div.nav-posicion2 a {
  transition: color 0.3s ease, font-weight 0.3s ease;
}

nav div.nav-posicion2 a:hover {
  color: white;
}

/* Aplica la animación al pasar el ratón solo a los elementos de texto */
nav li a:not(:has(img)):hover::after {
  width: 100%;
}

.seleccionado {
  background-color: white;

}

a.pagsele:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  /* Márgen negativo para mover la barra hacia arriba */
  width: 100%;
  /* Ancho al 100% del elemento primario */
  height: 2px;
  background-color: #ffffff;
}

a.pagsele::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 15px;
  /* Márgen negativo para mover la barra hacia arriba */
  width: 100%;
  /* Ancho al 100% del elemento primario */
  height: 2px;
  background-color: #000000;
}

#menu ul ul {
  margin-top: -10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 2px solid #000000;
}


ul ul li.mostrar {
  width: 110px;
}

.mostrar {
  display: none;
}

ul.mostrar {
  position: absolute;
  display: none;
  font-family: 'Segoe UI';
  margin-top: 100px;
}

ul.clubmenus {
  z-index: 2;
  margin-left: -25px;
  width: 190%;

}

ul.clubmenus li:hover {
  background-color: lightgray;
}

ul.clubmenus li a:hover {
  color: #000000;
}

#menu ul ul li a {
  margin-right: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
}

#menu ul ul li {
  float: none;
  display: list-item;
  position: relative;
  margin-right: 0px;
  padding-bottom: 4px;
  padding-top: 4px;
}

nav ul ul li a:not(:has(img))::after {
  height: 0px;
}

#menu ul li:hover>ul.clubmenus {
  display: inherit;
  margin-top: -29px;
}



#espacio {
  padding: 60px;
}

#espacioclas {
  padding: 90px;
}

/*----------------------------------------------NAVBAR SECUNDARIA----------------------------------------------*/
#elementoOculto {
  display: none;
  z-index: 3;
}

nav.Subnavbar {
  margin-top: -15%;
}

nav.Subnavbar ul {
  margin-top: -8%;
}

nav.Subnavbar li {
  margin-top: -0.5%;
}

.subnav-posicion {
  margin-left: 27%;
}

.Subnavbar li a:not(:has(img)) {
  position: relative;
}

.Subnavbar li a:hover {
  color: white;
}

.Subnavbar li a {
  transition: color 0.3s ease, font-weight 0.3s ease;
}

nav.Subnavbar li a.pagsele::after {
  width: 100%;
}

nav.Subnavbar li a.pagsele:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transition: all 0.3s;

}





/* /*----------------------------------------------NAVBAR PARA TEMPORADAS----------------------------------------------*/

nav.TemporadasNav {
  font-family: 'Segoe UI';
  background-color: #596680;
  text-align: center;
  margin-top: -10px;
  padding-block: 3px;
}

.temp-posicion {
  text-align: center;
  display: flex;
  margin-left: 0%;
}

nav.TemporadasNav ul {
  justify-content: center;
}

nav.TemporadasNav ul a li img{
  margin-inline: -50%;
}



nav.TemporadasNav ul li {
  transition: background-color 0.3s ease-out;

}

nav.TemporadasNav ul a {
  padding-block: 20px;
  margin-block: -20px;
  padding-inline: 2%;

}



.TemporadasNav img{
  width: 30px;
}

nav.TemporadasNav ul a:hover {
  background-color: #d5ddec;
  transition: background-color 0.3s ease-in;
}

nav.TemporadasNav li a:not(:has(img))::after {
  width: 0;
}

a nav.TemporadasNav img {
  display: none;
}

/*----------------------------------------------Tablets----------------------------------------------*/
@media only screen and (max-width: 850px) {
  .navprincipal ul {
    font-size: medium;
  }

  #menu ul li:hover>ul.clubmenus {
    display: inherit;
    margin-top: -10px;
  }


  .seccionesnav {
    display: flex;
    margin-left: 30%;
    margin-top: -16%;
  }

  #elementoOculto {
    display: none;
  }

  .logo {
    width: 45px;
    margin-left: -60%;
  }

  a.pagsele:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    /* Márgen negativo para mover la barra hacia arriba */
    width: 100%;
    /* Ancho al 100% del elemento primario */
    height: 2px;
    background-color: #ffffff;
  }

  a.pagsele::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    /* Márgen negativo para mover la barra hacia arriba */
    width: 100%;
    /* Ancho al 100% del elemento primario */
    height: 2px;
    background-color: #000000;
  }

  .imgheader2 {
    height: 45px;
    max-width: 45px;

  }

  /*Navbar temporadas*/



  nav.TemporadasNav ul a {
    padding-block: 5px;
    margin-block: -5px;
    padding-inline: 2%;
  
  }

  nav.TemporadasNav ul {
    margin-block: 0px;
    display:flex;
  }



  nav.TemporadasNav {
    margin-top: -10px;
    padding-block: 3px;
  }

  nav.TemporadasNav ul li {
    padding-block: 5px;
  }

  a nav.TemporadasNav img{
    display: block;
    margin-inline: 47.5%;
    margin-block: 2%;
  }

  #izquierda {
    position: absolute;
    margin-left: 22%;

  }



  #derecha {
    position: absolute;
    margin-left: 68%;
  }

  nav.TemporadasNav ul a:hover {
    background-color: #d5ddec00;
  }


}

/*----------------------------------------------Dispositivos moviles----------------------------------------------*/
@media only screen and (max-width: 650px) {

  .navprincipal ul {
    margin-top: 5%;
  }

  ul.seccionesnav {
    display: flex;
  }

  nav ul {
    font-size: large;
  }


  img.logo {
    width: 50px;
    margin-left: 90%;
  }



  #movil {
    display: none;
  }

  .opciones {
    display: flex;
    z-index: 5;
  }

  .nav-posicion {
    margin-left: -20%;
    position: relative;
    /*posicionamiento relativo */
  }

  .nav-posicion2 {
    margin-right: 10%;
    position: relative;
  }

  .nav-posicion3 {
    margin-left: -60%;
    height: auto;
    display: flex;
  }

  .mostrar {
    display: inherit;
  }
  .imgheader2 {
    height: 40px;
    max-width: 40px;
  }
  


  a.nav-aa {
    display: none;
  }

  /*Navbar temporadas*/
  ul.temp-posicion a{
    font-size: small;
  }

  a nav.TemporadasNav img{
    display: block;
    margin-inline:47%;
    margin-block: 2%;
  }

  nav.TemporadasNav ul{
    padding-block: 2%;
  
  }

  #izquierda {
    position: absolute;
    margin-left: 22%;

  }

  #derecha {
    position: absolute;
    margin-left: 68%;
  }

 

}