/*Estilo de la seccion noticias*/

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* Crear una cuadrícula flexible */
    grid-gap: 20px;
    /* Espacio entre las imágenes */
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    justify-content: space-around;

}

.image {
    /*Estilo de las imagenes de las noticias*/
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5%;
    height: fit-content;
}

.image img {
    /*Estilo de las imagenes de las noticias*/
    max-width: 100%;
    /* Ajustar el tamaño de la imagen al contenedor */
    height: auto;
    border-radius: 20px;
}

.image img:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    transition: color 0.3s ease-in;
}   


.titulo {
    /*Titulo de la seccion noticias*/
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.textdivnoticia {
    text-align: left;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.noticiacontent {
    margin-top: 40px;
    text-align: center;
}

.titulonot {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

h6.seccion {
    text-align: left;
    margin-left: 20%;
    margin-top: 40px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;

}

.textonoticia {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a.notilink {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

a.notilink:hover {
    color: #2662c4c2;
}

hr.noticia {
    width: 60%;

}

.seccion {
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

.amar {
    color: #2662c4c2;
    text-decoration: none;
}

.seccion a:hover {
    text-decoration: underline;
    color: #2662c4c2;

}

.amar a:hover {
    text-decoration: underline;
}

.actualidad {
    /*Estilo para los banners*/
    width: 100%;
    height: auto;
    margin-top: -55px;
}

.lineabaja {
    padding-bottom: 200px;
}

.notimag {
    /*Estilo de las imagenes de las noticias*/
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
}

.margen-noticia {
    margin-bottom: 60px;
}

.gallery .image:hover {
    transition: box-shadow 0.3s ease, transform 0.6s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
    z-index: 1;
    /* Ajusta el valor según sea necesario para que sea mayor que el z-index del elemento fijo */
}

/*----------------------------------------------TABLETS Grandes---------------------------------------------- */
@media only screen and (max-width: 950px) {
    .titulo {
        /*Titulo de la seccion noticias*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 30%;
    }

    .notimag {
        /*Estilo de las imagenes de las noticias*/
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin-left: 8%;
        margin-right: 8%;
        width: 80%;
    }

    .titulonot {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 5%;
        margin-right: 5%;
    }

    h6.seccion {
        margin-left: 5%;
    }

    .textonoticia {
        margin-left: 5%;
        margin-right: 5%;
    }

}


@media only screen and (max-width: 950px) {
    .titulo {
        /*Titulo de la seccion noticias*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right: 25%;
    }
}
/*----------------------------------------------TABLETS PEQUEÑAS---------------------------------------------- */
@media only screen and (max-width: 850px) {
    .titulo {
        /*Titulo de la seccion noticias*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-right: 25%;
    }

    .notimag {
        /*Estilo de las imagenes de las noticias*/
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
    }

    .titulonot {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 5%;
        margin-right: 5%;
    }

    h6.seccion {
        margin-left: 5%;
    }

    .textonoticia {
        margin-left: 5%;
        margin-right: 5%;
    }

}

/*----------------------------------------------Dispositivos moviles----------------------------------------------*/
@media only screen and (max-width: 650px) {
    .titulo {
        /*Titulo de la seccion noticias*/
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-inline-end: 80%;
    }

    .notimag {
        /*Estilo de las imagenes de las noticias*/
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
    }

    .titulonot {
        text-align: left;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-left: 5%;
        margin-right: 5%;
    }

    h6.seccion {
        margin-left: 5%;
    }

    .textonoticia {
        margin-left: 5%;
        margin-right: 5%;
    }

}